<p>EXCHANGE RATE</p>
<div class="container mt-3 home">
<table class="table table-dark">
    <thead>
        <tr>
          <th>&nbsp;</th>
          <th>BTC</th>
          <th>ETH</th>
          <th>BNB</th>
          <th>DOGE</th>
          <th>XRP</th>
        </tr>
    </thead>
    <tbody>
        <tr>
          <th>Dollar</th>
          <td>{{rates.BTC}}</td>
          <td>{{rates.ETH}}</td>
          <td>{{rates.BNB}}</td>
          <td>{{rates.DOGE}}</td>
          <td>{{rates.XRP}}</td>
        </tr>
    </tbody>
</table>
</div>